<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="text-center">Adicionar Jogador</ion-card-title>
    </ion-card-header>
    
    <ion-item>
      <ion-input [(ngModel)]="inputNome" id="nomeCreate" label="Nome" label-placement="floating" placeholder=""></ion-input>
    </ion-item>
    



    <ion-row class="">
      <ion-col size="3" class="text-center align-items">
        <ion-button color="light" (click)="decrementStars()" [disabled]="descreaseDisabled">
          <ion-icon slot="icon-only" name="remove"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-card id="cardStars">
          <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
            <ion-icon 
              [name]="i < estrelas ? 'star' : 'star-outline'" 
              class="playerStar"  size="large">
            </ion-icon>
          </ng-container>
        </ion-card>
      </ion-col>

      <ion-col size="3" class="text-center align-items">
        <ion-button color="light" (click)="incrementStars()" [disabled]="increaseDisabled">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    


  </ion-card>

</ion-content>

<ion-row class="botoes-row">
  <ion-col size="3">
    <ion-button expand="block" color="light" [routerLink]="'/jogador-index'">
      <ion-icon slot="icon-only" color="" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col size="9">
    <ion-button expand="block" color="dark" (click)="createJogador()">
      Adicionar
    </ion-button>
  </ion-col>
</ion-row>
