ion-content{
    --background : linear-gradient(to bottom right, blue, red)
}

ion-toolbar{
    padding: 0!important
}

.botoes-row {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.align-items{
    align-items: center;
}

.text-center{
    display: flex;
    justify-content: center;
}

.align-center{
    align-content: center;
}

.playerStar{
    width: 20%;
}

#cardStars{
    box-shadow: none;
}