<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Adicionar Jogador</ion-card-title>
    </ion-card-header>
    
    <ion-item>
      <ion-input label="Nome" placeholder=""></ion-input>
    </ion-item>
    
    <p style="color: white;">ESTRELAS</p>
    ADICIONAR AS ESTRELAS

  </ion-card>



  <ion-button shape="round" color="secondary" [routerLink]="'/jogador-index'">
    <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
  </ion-button>
  <ion-button color="secondary">Adicionar</ion-button>

</ion-content>
