<ion-card *ngFor="let time of dados">
  <ion-card-header>
    <ion-card-title class="text-center">Time {{ time.id }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item class="nomeJogador">
        <ion-text> {{ time.jogador1.nome }}</ion-text>
      </ion-item>
      <ion-item class="nomeJogador">
        <ion-text> {{ time.jogador2.nome }}</ion-text>
      </ion-item>
      <ion-item class="nomeJogador">
        <ion-text> {{ time.jogador3.nome }}</ion-text>
      </ion-item>
      <ion-item class="nomeJogador">
        <ion-text> {{ time.jogador4.nome }}</ion-text>
      </ion-item>
      <ion-item class="nomeJogador">
        <ion-text> {{ time.jogador5.nome }}</ion-text>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
