<ion-header [translucent]="true"></ion-header>

<ion-content fullscreen="true">

  <ion-card class="cardClassificacao">
      <ion-card-title class="text-center">Classificação</ion-card-title>
      <ion-row>
        <ion-col>Nome</ion-col>
        <ion-col>V</ion-col>
        <ion-col>E</ion-col>
        <ion-col>D</ion-col>
        <ion-col>P</ion-col>
      </ion-row>

      <ion-row *ngFor="let timesInOrder of timesInOrder">
        <ion-col>Time {{ timesInOrder.id }}</ion-col>
        <ion-col>{{ timesInOrder.vitorias }}</ion-col>
        <ion-col>{{ timesInOrder.empates }}</ion-col>
        <ion-col>{{ timesInOrder.derrotas }}</ion-col>
        <ion-col>{{ timesInOrder.pontos }}</ion-col>
      </ion-row>
    
  </ion-card>
    
  <ion-card *ngFor="let time of times" class="cardsButtons">
    <ion-row>
      <ion-col>
        <ion-text class="nomeDoTime">Time {{ time.id }}</ion-text>
      </ion-col>
      <ion-col size="9">
        <ion-col>
          <ion-button class="btnResult" color="dark" (click)="addWin(time.id)">V</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="btnResult" color="dark" (click)="addTie(time.id)">E</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="btnResult" color="dark" (click)="addDefeat(time.id)">D</ion-button>
        </ion-col>
      </ion-col>
     
    </ion-row>
  </ion-card>

  
</ion-content>
