<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="classificacao" routerLink="/classificacao">
      <ion-icon name="football-sharp"></ion-icon>
      <ion-label>Rank</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="times" routerLink="/times">
      <ion-icon name="shirt-sharp"></ion-icon>
      <ion-label>Times</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="jogador-index" routerLink="/jogador-index">
      <ion-icon name="people-circle-sharp"></ion-icon>
      <ion-label>Jogadores</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="logOut()">
      <ion-icon name="log-out-sharp"></ion-icon>
      <ion-label>Sair</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>