<body>
  <ion-header [translucent]="true">
    
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-card id="card-Jogadores">
      <ion-card-header>
        <ion-card-title class="text-center">Jogadores</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <app-tabela [dados]="jogadores"></app-tabela>
      </ion-card-content>
    </ion-card>



  </ion-content>

  <ion-row class="botoes-row">
    <ion-col size="9">
      <ion-button expand="block" color="dark" [routerLink]="'/times'">
        Gerar Times
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button expand="block" color="light" [routerLink]="'/novo-jogador'">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

</body>
