<body>
  <ion-header [translucent]="true">
    
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Jogadores</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <app-tabela [dados]="jogadores" [routerLink]="''"></app-tabela>
      </ion-card-content>
    </ion-card>

    <ion-button color="secondary" [routerLink]="''">Gerar Times</ion-button>
  <ion-button shape="round" color="secondary" [routerLink]="'/novo-jogador'">
    <ion-icon slot="icon-only" name="add"></ion-icon>
  </ion-button>

  </ion-content>

  

</body>
