ion-content{
    --background : linear-gradient(to bottom right, blue, red)
}

ion-toolbar{
    padding: 0!important
}

.botoes-row {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.text-center{
    display: flex;
    justify-content: center;
}

  #card-Jogadores{
    max-height: 85%;
    overflow-y: scroll;
  }

  #obsIndex{
    margin-top: 0!important
  }